
.body {
    background-color: #white;
     font-family: 'Pacifico';
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
  flex: 1 0 auto;
}
#map {
	height: 400px;
	width: 800px;
	margin-left: 25%
	margin-right: 25%;
}
#nav {
	height: 67px;
}

#btnLogin {
	height: 64px;
	margin-right: 5px;
	margin-left: 5px;
	font-family: sans-serif;
}
#btnSignUp {
	height: 64px;
	margin-right: 5px;
	margin-left: 5px;
	font-family: sans-serif;
}
#btnLogout {
	height: 64px;
	margin-right: 5px;
	margin-left: 5px;
	font-family: sans-serif;
}
#txtEmail {
	font-family: sans-serif;
}
#txtPasswork {
	font-family: sans-serif;
}

.searchField {
		background-image: url("../images/background.jpg");
	height: 500px;
	background-size: cover;
/*	background-repeat: no-repeat;
*/	background-attachment: fixed
}
/*.sticky {
  position: fixed;
  height: 500px;
	background-size: cover;
	top: 0;
 
}*/
#input {
	margin-top: 0px;
	padding-top: 70px;
	display: flex;
}
#ingredients {
	font-family: sans-serif;
}
#enterIngredients {
	font-size: 35px;
	font-weight: bold;
	text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
     letter-spacing: 2px;
     margin-top: 40px;
}
#add {
	height: 46px;
}
#ingredients {
	opacity: 0.75;
	flex: 1;
}

#selector {
	font-size: 25px;
	padding-left: 30px;
	text-shadow: 
	-1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.chip {
	font-family: sans-serif;
}
#search {
	font-family: sans-serif;
}
#card0 {
	margin: 4%;
	padding-left: 0px;
    padding-right: 0px;
    height: 370px;
}
#card1 {
	margin: 4%;
	padding-left: 0px;
    padding-right: 0px;
    height: 370px;
}
#card2 {
	margin: 4%;
	padding-left: 0px;
    padding-right: 0px;
    height: 370px;
}
#card3 {
	margin: 4%;
	padding-left: 0px;
    padding-right: 0px;
    height: 370px;
}
#card4 {
	margin: 4%;
	padding-left: 0px;
    padding-right: 0px;
    height: 370px;
}
#card5 {
	margin: 4%;
	padding-left: 0px;
    padding-right: 0px;
    height: 370px;
}
#card6 {
	margin: 4%;
	padding-left: 0px;
    padding-right: 0px;
    height: 370px;
}
#card7 {
	margin: 4%;
	padding-left: 0px;
    padding-right: 0px;
    height: 370px;
}
#card8 {
	margin: 4%;
	padding-left: 0px;
    padding-right: 0px;
    height: 370px;
}
#card9 {
	margin: 4%;
	padding-left: 0px;
    padding-right: 0px;
    height: 370px;
}
#newCardContent {
	height: 147px;
}
#revealCard {
	background-image: url("../images/notecard.jpg");
	background-size: cover;
/*	background-attachment: fixed;
*/}
#spanIngredients {
	font-weight: bold;
	line-height: 1.6;
	font-family: sans-serif;
	opacity: 1;
}

#i {
	font-weight: bold;
}
#a {
	font-weight: bold;
	font-size: 16px;
}
#i2 {
	font-weight: bold;

}
#saveLikedRecipe {
	color: #004d40;
	position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}
#saveLikedRecipe:hover {
	color: red;
}
#saveLikedRecipe:visited {
	color: black;
	opacity: 0.25;
}
#googleMap {
	margin-bottom: 15px;
	font-family: sans-serif;
	
}
#hideMap {
	display: inline;
	margin-bottom: 15px;

}