
.body {
/*	background-image: url("../images/food-background.jpg");
    background-size: cover;*/
    background-color: #fff;
}
#logo {
	font-weight: bold;
	padding: 10px;
	margin-left: 35px;
	font-size: 40px;
}
#ingredientForm {
	margin-right: 20px;
}
#enterIngredients {
	font-size: 35px;
	font-weight: bold;
	  /*text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;*/
     letter-spacing: 2px;
}
#selectors {
	margin-left: 70px;
}
#selector {
	font-size: 25px;
	color: #ef6c00;
}
#card {
	margin: 4%;
}
/*#image {
	border-style: solid;
	border-width: 3px;
	border-color: #00695c;	
}*/
#span {
	font-weight: bold;
}
#i {
	font-weight: bold;
}
#a {
	font-weight: bold;
}
#i2 {
	font-weight: bold;

}